.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cus-header1 {
  background-color: #dd9933 !important;
  padding: 10px 25px;
}

.cus-header2 {
  background-color: #ffffff !important;
  color: black !important;
  margin-top: 44px !important;
}

.cu-ico svg {
  width: 20px;
  margin-right: 15px;
}

.alignemail {
  font-size: 13px !important;
  position: relative;
  top: 4px;
  left: 4px;
}

.setSizesvg {
  width: 20px !important;
}

.alignwats {
  font-size: 13px !important;
  position: relative;
  top: 4px;
  left: 4px;
}

.setIcowidth {
  width: 75px !important;
}

.setImg .mui-image-wrapper {
  justify-content: start !important;
}

.hearext {
  margin-top: 4px !important;
  font-family: fangsong !important;
  padding-left: 0px  !important;
  margin-left: -19px  !important;
  font-size: 20px !important;
}

.menu-data{
  float: right !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .setImg .mui-image-wrapper {
    justify-content: center !important;
  }
}
